@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Noto+Sans:wght@400;500&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Hero section title fonts */

#hero-section {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.make-hero-title {
  font-family: "Caveat";
  font-weight: 400;
  line-height: 3.1rem;
  color: #023047;
}

.popin-font {
  font-family: "Poppins";
  color: #126c9a;
  font-weight: 600;
  line-height: 3.1rem;
}

.popin-black {
  font-family: "Poppins";
  color: #011721;
  font-weight: 700;
  line-height: 3.1rem;
}

.about-bio {
  font-family: "Noto Sans";
  font-weight: 400;
  text-align: center;
  /* letter-spacing: 0.4px; */
  line-height: 2rem;
  color: #041721;
}

/* Skills shadow */

.give-shadow {
  box-shadow: 7px 71px 78px -14px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 7px 71px 78px -14px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 7px 71px 78px -14px rgba(0, 0, 0, 0.71);
}
