@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

/* Hero section title fonts */
.make-hero-title {
  font-family: "Caveat";
  font-weight: 400;
  line-height: 3.1rem;
  color: #023047;
}
